    <!-- Small banner -->
    <div id="small-banner" class="page-title d-flex" aria-label="Page title">
      <div class="container text-left align-self-center">
        <h1 class="page-title-heading">Admin Items</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home Admin", admin_root_path %></li>
            <li class="breadcrumb-item"><%= link_to "Tous les items", admin_items_path %></li>
            <li class="breadcrumb-item"><%= link_to "Créer un item", new_admin_item_path %></li>
          </ol>
        </nav>
      </div>
    </div>
