<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CreateX | Multipurpose Bootstrap Theme
    </title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="CreateX - Multipurpose Bootstrap Theme">
    <meta name="keywords" content="multipurpose, portfolio, blog, shop, e-commerce, modern, flat style, responsive,  business, corporate, mobile, bootstrap 4, html5, css3, jquery, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#343b43" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="css/vendor.min.css">
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="css/theme.min.css">
    <!-- Modernizr-->
    <script src="js/modernizr.min.js"></script>
  </head>
  <!-- Body-->
  <body>
    <!-- Off-Canvas Menu-->
    <div class="offcanvas-container is-triggered offcanvas-container-reverse" id="mobile-menu"><span class="offcanvas-close"><i class="fe-icon-x"></i></span>
      <div class="px-4 pb-4">
        <h6>Menu</h6>
        <div class="d-flex justify-content-between pt-2">
          <div class="btn-group w-100 mr-2"><a class="btn btn-secondary btn-sm btn-block dropdown-toggle" href="#" data-toggle="dropdown"><img src="img/flags/en.png" alt="English"/>English</a>
            <div class="dropdown-menu" style="min-width: 150px;"><a class="dropdown-item" href="#"><img src="img/flags/fr.png" alt="Français"/>Français</a><a class="dropdown-item" href="#"><img src="img/flags/de.png" alt="Deutsch"/>Deutsch</a><a class="dropdown-item" href="#"><img src="img/flags/it.png" alt="Italiano"/>Italiano</a></div>
          </div><a class="btn btn-primary btn-sm btn-block" href="account-login.html"><i class="fe-icon-user"></i>&nbsp;Login</a>
        </div>
      </div>
      <div class="offcanvas-scrollable-area border-top" style="height:calc(100% - 235px); top: 144px;">
        <!-- Mobile Menu-->
        <div class="accordion mobile-menu" id="accordion-menu">
          <!-- Home-->
          <div class="card">
            <div class="card-header"><a class="mobile-menu-link active" href="index.html">Home</a><a class="collapsed" href="#home-submenu" data-toggle="collapse"></a></div>
            <div class="collapse" id="home-submenu" data-parent="#accordion-menu">
              <div class="card-body">
                <ul>
                  <li class="dropdown-header"><i class="fe-icon-briefcase"></i>&nbsp;&nbsp;Portfolio</li>
                  <li class="dropdown-item"><a href="home-digital-agency.html">Digital Agency</a></li>
                  <li class="dropdown-item"><a class="disabled-link" href="#">Architectural Agency<span class="badge badge-secondary">Soon</span></a></li>
                  <li class="dropdown-item"><a href="home-freelancer-portfolio.html">Freelancer's Portfolio</a></li>
                  <li class="dropdown-item"><a href="home-photographer-portfolio.html">Photographer's Portfolio</a></li>
                  <li class="dropdown-header"><i class="fe-icon-shopping-bag"></i>&nbsp;&nbsp;E-Commerce</li>
                  <li class="dropdown-item"><a href="home-shop-v1.html">Online Shop v.1</a></li>
                  <li class="dropdown-item"><a href="home-shop-v2.html">Online Shop v.2</a></li>
                  <li class="dropdown-header"><i class="fe-icon-edit"></i>&nbsp;&nbsp;Blog</li>
                  <li class="dropdown-item"><a href="home-corporate-blog.html">Corporate Blog</a></li>
                  <li class="dropdown-item"><a href="home-personal-blog.html">Personal Blog</a></li>
                  <li class="dropdown-header"><i class="fe-icon-home"></i>&nbsp;&nbsp;Landing Pages</li>
                  <li class="dropdown-item"><a href="home-mobile-app-showcase.html">Mobile App Showcase</a></li>
                  <li class="dropdown-item"><a href="home-web-app-showcase.html">Web App Showcase (SAAS)</a></li>
                  <li class="dropdown-item"><a class="disabled-link" href="#">Product Promo Page<span class="badge badge-secondary">Soon</span></a></li>
                  <li class="dropdown-item"><a href="home-conference-landing.html">Conference Landing</a></li>
                  <li class="dropdown-header"><i class="fe-icon-dollar-sign"></i>&nbsp;&nbsp;Business</li>
                  <li class="dropdown-item"><a class="disabled-link" href="#">Corporate Website<span class="badge badge-secondary">Soon</span></a></li>
                  <li class="dropdown-item"><a href="home-marketing-seo.html">Digital Marketing &amp; SEO</a></li>
                  <li class="dropdown-item"><a href="home-capital-investments.html">Venture Capital Investments</a></li>
                  <li class="dropdown-item"><a class="disabled-link" href="#">Startup Homepage<span class="badge badge-secondary">Soon</span></a></li>
                  <li class="dropdown-header"><i class="fe-icon-menu"></i>&nbsp;&nbsp;Directory &amp; Listings</li>
                  <li class="dropdown-item"><a class="disabled-link" href="#">Real Estate Listing<span class="badge badge-secondary">Soon</span></a></li>
                  <li class="dropdown-item"><a class="disabled-link" href="#">Jobs Board<span class="badge badge-secondary">Soon</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Portfolio-->
          <div class="card">
            <div class="card-header"><a class="mobile-menu-link" href="portfolio-style1-boxed.html">Portfolio</a><a class="collapsed" href="#portfolio-submenu" data-toggle="collapse"></a></div>
            <div class="collapse" id="portfolio-submenu" data-parent="#accordion-menu">
              <div class="card-body">
                <ul>
                  <li class="dropdown-item"><a href="portfolio-style1-boxed.html">Style 1 Grid</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="portfolio-style1-boxed.html">Style 1 Boxed Layout</a></li>
                      <li class="dropdown-item"><a href="portfolio-style1-fw.html">Style 1 Full Width Layout</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="portfolio-style2-boxed.html">Style 2 Grid</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="portfolio-style2-boxed.html">Style 2 Boxed Layout</a></li>
                      <li class="dropdown-item"><a href="portfolio-style2-fw.html">Style 2 Full Width Layout</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="portfolio-single-side-gallery-grid.html">Single Project</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="portfolio-single-side-gallery-grid.html">Side Gallery Grid</a></li>
                      <li class="dropdown-item"><a href="portfolio-single-side-gallery-list.html">Side Gallery List</a></li>
                      <li class="dropdown-item"><a href="portfolio-single-wide-slider.html">Wide Slider</a></li>
                      <li class="dropdown-item"><a href="portfolio-single-wide-gallery.html">Wide Gallery</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Blog-->
          <div class="card">
            <div class="card-header"><a class="mobile-menu-link" href="blog-grid-rs.html">Blog</a><a class="collapsed" href="#blog-submenu" data-toggle="collapse"></a></div>
            <div class="collapse" id="blog-submenu" data-parent="#accordion-menu">
              <div class="card-body">
                <ul>
                  <li class="dropdown-header">Blog Layouts</li>
                  <li class="dropdown-item"><a href="blog-grid-rs.html">Grid Right Sidebar</a></li>
                  <li class="dropdown-item"><a href="blog-grid-ls.html">Grid Left Sidebar</a></li>
                  <li class="dropdown-item"><a href="blog-grid-ns.html">Grid No Sidebar</a></li>
                  <li class="dropdown-header">Single Post Formats</li>
                  <li class="dropdown-item"><a href="blog-single-gallery.html">Post Gallery</a></li>
                  <li class="dropdown-item"><a href="blog-single-carousel.html">Post Image Carousel</a></li>
                  <li class="dropdown-item"><a href="blog-single-video.html">Post Video</a></li>
                  <li class="dropdown-item"><a href="blog-single-audio.html">Post Audio</a></li>
                  <li class="dropdown-item"><a href="blog-single-quotation.html">Post Quotation</a></li>
                  <li class="dropdown-item"><a href="blog-single-link.html">Post Link</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Shop-->
          <div class="card">
            <div class="card-header"><a class="mobile-menu-link" href="shop-boxed-ls.html">Shop</a><a class="collapsed" href="#shop-submenu" data-toggle="collapse"></a></div>
            <div class="collapse" id="shop-submenu" data-parent="#accordion-menu">
              <div class="card-body">
                <ul>
                  <li class="dropdown-header">Shop Layouts</li>
                  <li class="dropdown-item"><a href="shop-boxed-ls.html">Boxed Left Sidebar</a></li>
                  <li class="dropdown-item"><a href="shop-boxed-rs.html">Boxed Right Sidebar</a></li>
                  <li class="dropdown-item"><a href="shop-boxed-ft.html">Boxed Filters Top</a></li>
                  <li class="dropdown-item"><a href="shop-boxed-ns.html">Boxed No Sidebar</a></li>
                  <li class="dropdown-item"><a href="shop-fw-ls.html">Full Width Left Sidebar</a></li>
                  <li class="dropdown-item"><a href="shop-fw-rs.html">Full Width Right Sidebar</a></li>
                  <li class="dropdown-item"><a href="shop-fw-ft.html">Full Width Filters Top</a></li>
                  <li class="dropdown-item"><a href="shop-fw-ns.html">Full Width No Sidebar</a></li>
                  <li class="dropdown-header">Shop Pages</li>
                  <li class="dropdown-item"><a href="shop-categories.html">Shop Categories</a></li>
                  <li class="dropdown-item"><a href="shop-single.html">Product Page</a></li>
                  <li class="dropdown-item"><a href="cart.html">Cart</a></li>
                  <li class="dropdown-item"><a href="checkout-address.html">Checkout - Address</a></li>
                  <li class="dropdown-item"><a href="checkout-shipping.html">Checkout - Shipping</a></li>
                  <li class="dropdown-item"><a href="checkout-payment.html">Checkout - Payment</a></li>
                  <li class="dropdown-item"><a href="checkout-review.html">Checkout - Review</a></li>
                  <li class="dropdown-item"><a href="checkout-complete.html">Checkout - Complete</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Account-->
          <div class="card">
            <div class="card-header"><a class="mobile-menu-link" href="account-orders.html">Account</a><a class="collapsed" href="#account-submenu" data-toggle="collapse"></a></div>
            <div class="collapse" id="account-submenu" data-parent="#accordion-menu">
              <div class="card-body">
                <ul>
                  <li class="dropdown-item"><a href="account-login.html">Login / Register</a></li>
                  <li class="dropdown-item"><a href="account-password-recovery.html">Password Recovery</a></li>
                  <li class="dropdown-item"><a href="account-orders.html">Orders List</a></li>
                  <li class="dropdown-item"><a href="account-profile.html">Profile Settings</a></li>
                  <li class="dropdown-item"><a href="account-address.html">Contact / Shipping Address</a></li>
                  <li class="dropdown-item"><a href="account-wishlist.html">Wishlist</a></li>
                  <li class="dropdown-item"><a href="account-tickets.html">My Tickets</a></li>
                  <li class="dropdown-item"><a href="account-single-ticket.html">Single Ticket</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Pages-->
          <div class="card">
            <div class="card-header"><a class="mobile-menu-link" href="#">Pages</a><a class="collapsed" href="#pages-submenu" data-toggle="collapse"></a></div>
            <div class="collapse" id="pages-submenu" data-parent="#accordion-menu">
              <div class="card-body">
                <ul>
                  <li class="dropdown-item"><a href="about-us-v1.html">About Us</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="about-us-v1.html">About Us v.1</a></li>
                      <li class="dropdown-item"><a href="about-us-v2.html">About Us v.2</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="contacts-v1.html">Contacts</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="contacts-v1.html">Contacts v.1</a></li>
                      <li class="dropdown-item"><a href="contacts-v2.html">Contacts v.2</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="help-topics.html">Help Center</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="help-topics.html">Help Topics</a></li>
                      <li class="dropdown-item"><a href="help-single-topic.html">Single Topic</a></li>
                      <li class="dropdown-item"><a href="help-submit-request.html">Submit a Request</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="services.html">Services</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="services.html">Services Landing</a></li>
                      <li class="dropdown-item"><a href="services-single.html">Single Service Page</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="pricing.html">Pricing</a></li>
                  <li class="dropdown-item"><a href="product-comparison.html">Product Comparison</a></li>
                  <li class="dropdown-item"><a href="order-tracking.html">Order Tracking</a></li>
                  <li class="dropdown-item"><a href="search-results.html">Search Results</a></li>
                  <li class="dropdown-item"><a href="coming-soon-light.html">Coming Soon</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="coming-soon-light.html">Coming Soon Light</a></li>
                      <li class="dropdown-item"><a href="coming-soon-dark.html">Coming Soon Dark</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="404.html">404 Not Found</a></li>
                  <li class="dropdown-item"><a class="text-accent" href="docs/dev-setup.html"><i class="d-inline-block fe-icon-file-text align-middle mr-1"></i>Documentation</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Components-->
          <div class="card">
            <div class="card-header"><a class="mobile-menu-link" href="components.html">Components</a></div>
          </div>
        </div>
      </div>
      <div class="offcanvas-footer px-4 pt-3 pb-2 text-center"><a class="social-btn sb-style-3 sb-twitter" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-3 sb-facebook" href="#"><i class="socicon-facebook"></i></a><a class="social-btn sb-style-3 sb-pinterest" href="#"><i class="socicon-pinterest"></i></a><a class="social-btn sb-style-3 sb-instagram" href="#"><i class="socicon-instagram"></i></a></div>
    </div>
    <!-- Navbar: Simple Ghost-->
    <header class="navbar-wrapper navbar-boxed navbar-simple-ghost">
      <div class="container-fluid">
        <div class="d-table-cell align-middle pr-md-3"><a class="navbar-brand mr-1" href="index.html"><img src="img/logo/logo-light.png" alt="CreateX"/></a></div>
        <div class="d-table-cell w-100 align-middle pl-md-3">
          <div class="navbar justify-content-end justify-content-lg-between">
            <!-- Search-->
            <form class="search-box" method="get">
              <input type="text" id="site-search" placeholder="Type A or C to see suggestions"><span class="search-close"><i class="fe-icon-x"></i></span>
            </form>
            <!-- Main Menu-->
            <ul class="navbar-nav d-none d-lg-block">
              <!-- Home-->
              <li class="nav-item mega-dropdown-toggle active"><a class="nav-link" href="index.html">Home</a>
                <div class="dropdown-menu mega-dropdown">
                  <div class="d-flex">
                    <div class="column">
                      <div class="widget widget-custom-menu">
                        <ul>
                          <li class="dropdown-header font-weight-medium text-warning border-warning text-uppercase pl-0"><i class="fe-icon-briefcase"></i>&nbsp;&nbsp;Portfolio</li>
                          <li><a href="home-digital-agency.html">Digital Agency</a></li>
                          <li><a class="disabled-link" href="#">Architectural Agency<span class="badge badge-secondary">Soon</span></a></li>
                          <li><a href="home-freelancer-portfolio.html">Freelancer's Portfolio</a></li>
                          <li><a href="home-photographer-portfolio.html">Photographer's Portfolio</a></li>
                          <li class="dropdown-header font-weight-medium text-success border-top-0 border-success text-uppercase pt-4 pl-0"><i class="fe-icon-shopping-bag"></i>&nbsp;&nbsp;E-Commerce</li>
                          <li><a href="home-shop-v1.html">Online Shop v.1</a></li>
                          <li><a href="home-shop-v2.html">Online Shop v.2</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="column">
                      <div class="widget widget-custom-menu">
                        <ul>
                          <li class="dropdown-header font-weight-medium text-info border-info text-uppercase pl-0"><i class="fe-icon-edit"></i>&nbsp;&nbsp;Blog</li>
                          <li><a href="home-corporate-blog.html">Corporate Blog</a></li>
                          <li><a href="home-personal-blog.html">Personal Blog</a></li>
                          <li class="dropdown-header font-weight-medium text-accent border-top-0 border-accent text-uppercase pt-4 pl-0"><i class="fe-icon-home"></i>&nbsp;&nbsp;Landing Pages</li>
                          <li><a href="home-mobile-app-showcase.html">Mobile App Showcase</a></li>
                          <li><a href="home-web-app-showcase.html">Web App Showcase (SAAS)</a></li>
                          <li><a class="disabled-link" href="#">Product Promo Page<span class="badge badge-secondary">Soon</span></a></li>
                          <li><a href="home-conference-landing.html">Conference Landing</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="column">
                      <div class="widget widget-custom-menu">
                        <ul>
                          <li class="dropdown-header font-weight-medium text-danger border-danger text-uppercase pl-0"><i class="fe-icon-dollar-sign"></i>&nbsp;&nbsp;Business</li>
                          <li><a class="disabled-link" href="#">Corporate Website<span class="badge badge-secondary">Soon</span></a></li>
                          <li><a href="home-marketing-seo.html">Digital Marketing &amp; SEO</a></li>
                          <li><a href="home-capital-investments.html">Venture Capital Investments</a></li>
                          <li><a class="disabled-link" href="#">Startup Homepage<span class="badge badge-secondary">Soon</span></a></li>
                          <li class="dropdown-header font-weight-medium border-top-0 text-uppercase pt-4 pl-0" style="color: #8a5ed5; border-color: #8a5ed5;"><i class="fe-icon-menu"></i>&nbsp;&nbsp;Directory &amp; Listings</li>
                          <li><a class="disabled-link" href="#">Real Estate Listing<span class="badge badge-secondary">Soon</span></a></li>
                          <li><a class="disabled-link" href="#">Jobs Board<span class="badge badge-secondary">Soon</span></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <!-- Portfolio-->
              <li class="nav-item dropdown-toggle"><a class="nav-link" href="portfolio-style1-boxed.html">Portfolio</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item has-children"><a href="portfolio-style1-boxed.html">Style 1 Grid</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><a href="portfolio-style1-boxed.html">Style 1 Boxed Layout</a></li>
                      <li class="dropdown-item"><a href="portfolio-style1-fw.html">Style 1 Full Width Layout</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item has-children"><a href="portfolio-style2-boxed.html">Style 2 Grid</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><a href="portfolio-style2-boxed.html">Style 2 Boxed Layout</a></li>
                      <li class="dropdown-item"><a href="portfolio-style2-fw.html">Style 2 Full Width Layout</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="portfolio-list.html">List View</a></li>
                  <li class="dropdown-item has-children"><a href="portfolio-single-side-gallery-grid.html">Single Project</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><a href="portfolio-single-side-gallery-grid.html">Side Gallery Grid</a></li>
                      <li class="dropdown-item"><a href="portfolio-single-side-gallery-list.html">Side Gallery List</a></li>
                      <li class="dropdown-item"><a href="portfolio-single-wide-slider.html">Wide Slider</a></li>
                      <li class="dropdown-item"><a href="portfolio-single-wide-gallery.html">Wide Gallery</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <!-- Blog-->
              <li class="nav-item mega-dropdown-toggle"><a class="nav-link" href="blog-grid-rs.html">Blog</a>
                <div class="dropdown-menu mega-dropdown">
                  <div class="d-flex">
                    <div class="column">
                      <div class="widget widget-custom-menu">
                        <h4 class="widget-title">Blog Layouts</h4>
                        <ul>
                          <li><a href="blog-grid-rs.html">Grid Right Sidebar</a></li>
                          <li><a href="blog-grid-ls.html">Grid Left Sidebar</a></li>
                          <li><a href="blog-grid-ns.html">Grid No Sidebar</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="column">
                      <div class="widget widget-custom-menu">
                        <h4 class="widget-title">Single Post Formats</h4>
                        <ul>
                          <li><a href="blog-single-gallery.html">Post Gallery</a></li>
                          <li><a href="blog-single-carousel.html">Post Image Carousel</a></li>
                          <li><a href="blog-single-video.html">Post Video</a></li>
                          <li><a href="blog-single-audio.html">Post Audio</a></li>
                          <li><a href="blog-single-quotation.html">Post Quotation</a></li>
                          <li><a href="blog-single-link.html">Post Link</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="column" style="width: 280px;">
                      <div class="widget widget-featured-posts">
                        <h4 class="widget-title"> Recent posts</h4><a class="featured-post" href="blog-single-gallery.html">
                          <div class="featured-post-thumb"><img src="img/widgets/blog/01.jpg" alt="Post Thumbnail"/>
                          </div>
                          <div class="featured-post-info">
                            <div class="featured-post-meta"><span class="text-primary opacity-70"><i class="fe-icon-clock"></i>22/04/2018</span><span class="ml-3"><i class="fe-icon-message-square"></i>21</span></div>
                            <div class="featured-post-title">Getting to another level of design and functionality.</div>
                          </div></a><a class="featured-post" href="blog-single-carousel.html">
                          <div class="featured-post-thumb"><img src="img/widgets/blog/02.jpg" alt="Post Thumbnail"/>
                          </div>
                          <div class="featured-post-info">
                            <div class="featured-post-meta"><span class="text-primary opacity-70"><i class="fe-icon-clock"></i>30/05/2018</span><span class="ml-3"><i class="fe-icon-message-square"></i>17</span></div>
                            <div class="featured-post-title">Cherry 5 WordPress Framework Sneaky Peaks.</div>
                          </div></a><a class="featured-post" href="blog-single-video.html">
                          <div class="featured-post-thumb"><img src="img/widgets/blog/03.jpg" alt="Post Thumbnail"/>
                          </div>
                          <div class="featured-post-info">
                            <div class="featured-post-meta"><span class="text-primary opacity-70"><i class="fe-icon-clock"></i>11/06/2018</span><span class="ml-3"><i class="fe-icon-message-square"></i>8</span></div>
                            <div class="featured-post-title">Multiple skins &amp; easy demo data import.</div>
                          </div></a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <!-- Shop-->
              <li class="nav-item mega-dropdown-toggle"><a class="nav-link" href="shop-boxed-ls.html">Shop</a>
                <div class="dropdown-menu mega-dropdown">
                  <div class="d-flex">
                    <div class="column">
                      <div class="widget widget-custom-menu">
                        <h4 class="widget-title">Shop Layouts</h4>
                        <ul>
                          <li><a href="shop-boxed-ls.html">Boxed Left Sidebar</a></li>
                          <li><a href="shop-boxed-rs.html">Boxed Right Sidebar</a></li>
                          <li><a href="shop-boxed-ft.html">Boxed Filters Top</a></li>
                          <li><a href="shop-boxed-ns.html">Boxed No Sidebar</a></li>
                          <li><a href="shop-fw-ls.html">Full Width Left Sidebar</a></li>
                          <li><a href="shop-fw-rs.html">Full Width Right Sidebar</a></li>
                          <li><a href="shop-fw-ft.html">Full Width Filters Top</a></li>
                          <li><a href="shop-fw-ns.html">Full Width No Sidebar</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="column">
                      <div class="widget widget-custom-menu">
                        <h4 class="widget-title">Shop Pages</h4>
                        <ul>
                          <li><a href="shop-categories.html">Shop Categories</a></li>
                          <li><a href="shop-single.html">Product Page</a></li>
                          <li><a href="cart.html">Cart</a></li>
                          <li><a href="checkout-address.html">Checkout - Address</a></li>
                          <li><a href="checkout-shipping.html">Checkout - Shipping</a></li>
                          <li><a href="checkout-payment.html">Checkout - Payment</a></li>
                          <li><a href="checkout-review.html">Checkout - Review</a></li>
                          <li><a href="checkout-complete.html">Checkout - Complete</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="column p-0 mr-0 ml-3" style="width: 320px;"><a class="d-block" href="shop-single.html"><img src="img/shop/mega-menu.jpg" alt="Samsung Galaxy S9"/></a></div>
                  </div>
                </div>
              </li>
              <!-- Account-->
              <li class="nav-item dropdown-toggle"><a class="nav-link" href="account-orders.html">Account</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a href="account-login.html">Login / Register</a></li>
                  <li class="dropdown-item"><a href="account-password-recovery.html">Password Recovery</a></li>
                  <li class="dropdown-item"><a href="account-orders.html">Orders List</a></li>
                  <li class="dropdown-item"><a href="account-profile.html">Profile Settings</a></li>
                  <li class="dropdown-item"><a href="account-address.html">Contact / Shipping Address</a></li>
                  <li class="dropdown-item"><a href="account-wishlist.html">Wishlist</a></li>
                  <li class="dropdown-item"><a href="account-tickets.html">My Tickets</a></li>
                  <li class="dropdown-item"><a href="account-single-ticket.html">Single Ticket</a></li>
                </ul>
              </li>
              <!-- Pages-->
              <li class="nav-item dropdown-toggle"><a class="nav-link" href="#">Pages</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item has-children"><a href="about-us-v1.html">About Us</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><a href="about-us-v1.html">About Us v.1</a></li>
                      <li class="dropdown-item"><a href="about-us-v2.html">About Us v.2</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item has-children"><a href="contacts-v1.html">Contacts</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><a href="contacts-v1.html">Contacts v.1</a></li>
                      <li class="dropdown-item"><a href="contacts-v2.html">Contacts v.2</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item has-children"><a href="help-topics.html">Help Center</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><a href="help-topics.html">Help Topics</a></li>
                      <li class="dropdown-item"><a href="help-single-topic.html">Single Topic</a></li>
                      <li class="dropdown-item"><a href="help-submit-request.html">Submit a Request</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item has-children"><a href="services.html">Services</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><a href="services.html">Services Landing</a></li>
                      <li class="dropdown-item"><a href="services-single.html">Single Service Page</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="pricing.html">Pricing</a></li>
                  <li class="dropdown-item"><a href="product-comparison.html">Product Comparison</a></li>
                  <li class="dropdown-item"><a href="order-tracking.html">Order Tracking</a></li>
                  <li class="dropdown-item"><a href="search-results.html">Search Results</a></li>
                  <li class="dropdown-item has-children"><a href="coming-soon-light.html">Coming Soon</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><a href="coming-soon-light.html">Coming Soon Light</a></li>
                      <li class="dropdown-item"><a href="coming-soon-dark.html">Coming Soon Dark</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="404.html">404 Not Found</a></li>
                  <li class="dropdown-item"><a class="text-accent" href="docs/dev-setup.html"><i class="d-inline-block fe-icon-file-text align-middle mr-1"></i>Documentation</a></li>
                </ul>
              </li>
              <!-- Components-->
              <li class="nav-item"><a class="nav-link" href="components.html">Components</a></li>
            </ul>
            <div>
              <ul class="navbar-buttons d-inline-block align-middle">
                <li class="d-block d-lg-none"><a href="#mobile-menu" data-toggle="offcanvas"><i class="fe-icon-menu"></i></a></li>
                <li><a href="#" data-toggle="search"><i class="fe-icon-search"></i></a></li>
              </ul><a class="btn btn-gradient ml-3 d-none d-xl-inline-block" href="https://themes.getbootstrap.com/product/createx-multipurpose-template-ui-kit/" target="_blank">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Page Content-->
    <!-- Hero-->
    <section class="bg-dark bg-center-top bg-no-repeat position-relative pt-5 pb-4 pb-md-5" style="background-image: url(img/homepages/theme-presentation/hero-bg-back.jpg);">
      <div class="img-cover bg-auto d-none d-md-block" style="background-image: url(img/homepages/theme-presentation/hero-bg-front.jpg);"></div>
      <div class="container bg-content py-5 my-md-5 text-center text-md-left">
        <div class="pb-md-5 mt-5 mb-md-5">
          <div class="d-inline-block h6 text-lg bg-white px-3 py-2 mt-md-4">Currently v1.0</div>
          <h1 class="display-3 text-white"><span class="d-block break-word">Multipurpose</span><span class="d-block break-word">Bootstrap 4</span><span class="d-block break-word">Theme</span></h1>
        </div>
      </div>
    </section>
    <div class="bg-dark" style="height: 250px;"></div>
    <!-- Theme Details-->
    <section class="container" style="margin-top: -250px;">
      <div class="bg-white box-shadow py-5 px-4 px-sm-5">
        <div class="row">
          <div class="col-md-6 pb-4 mb-3">
            <h5><span class='d-inline-block bg-info text-white px-2 py-1'>12</span> Pre-designed Homepages</h5>
            <p class="text-muted pb-3">Initial release comes with 12 pre-designed Homepages (Landing pages) that target various business niches. More homepages will be added in future updates. Every future update will include at least one new homepage along with other improvements, fixes and added features.</p>
            <hr>
          </div>
          <div class="col-md-6 pb-4 mb-3">
            <h5><span class='d-inline-block bg-warning text-white px-2 py-1'>45+</span> Flexible UI Components</h5>
            <p class="text-muted pb-3">DRY approach, modular design are the cornerstones of the modern web development. CreateX introduces 40+ components and each has 2 - 10 variations. They can be mixed together to produce more complex components. This gives you unlimited possibilities.</p>
            <hr>
          </div>
          <div class="col-md-6 pb-4 mb-3">
            <h5><span class='d-inline-block bg-accent text-white px-3 py-1'>3</span> Modules: Portfolio, Blog, Shop</h5>
            <p class="text-muted pb-3">Most modern websites require News (Blog) section to engage with their visitors. Other would need E-commerce functionality because they want to sell products via the website. Yet another want to showcase their works. With CreateX you have them covered.</p>
            <hr>
          </div>
          <div class="col-md-6 pb-4 mb-3">
            <h5><span class='d-inline-block bg-success text-white px-2 py-1'>9+</span> User Account Pages</h5>
            <p class="text-muted pb-3">Most online shops require users to create account to be able to manage their orders, edit shipping adresses, earn reward points etc. CreateX includes all crucial page templates to ensure your online shop will provide as smooth and engaging user experience as possible.</p>
            <hr>
          </div>
          <div class="col-md-6 pb-4 mb-3">
            <h5><span class='d-inline-block bg-primary text-white px-2 py-1'>16</span> Hand-crafted Secondary Pages</h5>
            <p class="text-muted pb-3">The pages like About Us, Services, Pricing are one of the most important pages on the website. It is an opportunity where website visitors get to know the company, learn about services and pricing. CreateX also includes sepcialty pages like 404, search results, etc.</p>
            <hr>
          </div>
          <div class="col-md-6 pb-4 mb-3">
            <h5><span class='d-inline-block bg-danger text-white px-3 py-1'>7</span> Header Variations</h5>
            <p class="text-muted pb-3">More options is better. Especially when it comes to such important website element as main navigation. CreateX includes 7 variants of header layout and appearance. Choose the right one for your project. More variants will come in future updates.</p>
            <hr>
          </div>
        </div>
        <p class="text-lg text-center mb-0">...and much more</p>
      </div>
    </section>
    <!-- Homepages-->
    <section class="container-fluid py-5">
      <h2 class="h3 block-title text-center pt-4"><span class='font-weight-normal'>Explore</span> CreateX Homepages<small>Explore the collection of carefully built landing pages</small></h2>
      <div class="row pt-4">
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2"><a class="d-block text-decoration-none" href="home-digital-agency.html">
            <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/01.jpg" alt="Digital Agency">
              <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Digital Agency</figcaption>
            </figure></a></div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2"><a class="d-block text-decoration-none" href="home-freelancer-portfolio.html">
            <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/02.jpg" alt="Freelancer's Portfolio">
              <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Freelancer's Portfolio</figcaption>
            </figure></a></div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2"><a class="d-block text-decoration-none" href="home-photographer-portfolio.html">
            <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/03.jpg" alt="Photographer's Portfolio">
              <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Photographer's Portfolio</figcaption>
            </figure></a></div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2"><a class="d-block text-decoration-none" href="home-shop-v1.html">
            <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/04.jpg" alt="Online Shop v.1">
              <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Online Shop v.1</figcaption>
            </figure></a></div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2"><a class="d-block text-decoration-none" href="home-shop-v2.html">
            <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/05.jpg" alt="Online Shop v.2">
              <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Online Shop v.2</figcaption>
            </figure></a></div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2"><a class="d-block text-decoration-none" href="home-corporate-blog.html">
            <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/06.jpg" alt="Corporate Blog">
              <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Corporate Blog</figcaption>
            </figure></a></div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2"><a class="d-block text-decoration-none" href="home-personal-blog.html">
            <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/07.jpg" alt="Personal Blog">
              <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Personal Blog</figcaption>
            </figure></a></div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2"><a class="d-block text-decoration-none" href="home-mobile-app-showcase.html">
            <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/08.jpg" alt="Mobile App Showcase">
              <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Mobile App Showcase</figcaption>
            </figure></a></div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2"><a class="d-block text-decoration-none" href="home-web-app-showcase.html">
            <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/09.jpg" alt="Web App Showcase (SAAS)">
              <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Web App Showcase (SAAS)</figcaption>
            </figure></a></div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2"><a class="d-block text-decoration-none" href="home-conference-landing.html">
            <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/10.jpg" alt="Conference Landing">
              <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Conference Landing</figcaption>
            </figure></a></div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2"><a class="d-block text-decoration-none" href="home-marketing-seo.html">
            <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/11.jpg" alt="Digital Marketing &amp; SEO">
              <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Digital Marketing & SEO</figcaption>
            </figure></a></div>
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-2"><a class="d-block text-decoration-none" href="home-capital-investments.html">
            <figure class="figure"><img class="figure-img" src="img/homepages/theme-presentation/home/12.jpg" alt="Venture Capital Investments">
              <figcaption class="figure-caption h6 pt-2 mb-2 text-md text-center">Venture Capital Investments</figcaption>
            </figure></a></div>
      </div>
      <p class="pt-3 mb-0 text-lg text-muted font-weight-medium text-center">... More pages coming</p>
    </section>
    <!-- Other Pages-->
    <section class="container mt-2 pt-4 pb-5">
      <h2 class="h3 block-title text-center"><span class='font-weight-normal'>See Also</span> Other Pages<small>Explore the collection of carefully built landing pages</small></h2>
      <div class="row pt-4">
        <div class="col-lg-4 col-sm-6 mb-30"><a class="d-block bg-right-center bg-no-repeat bg-white border box-shadow p-5 text-decoration-none" href="portfolio-style1-boxed.html" style="background-image: url(img/homepages/theme-presentation/portfolio.png);">
            <h3 class="h5">Portfolio</h3>
            <p class="text-muted pb-2">Includes 2 styles and 3 layout options + 4 types of single project templates.</p>
            <div class="btn btn-warning btn-sm">View now&nbsp;<i class="fe-icon-arrow-right"></i></div></a></div>
        <div class="col-lg-4 col-sm-6 mb-30"><a class="d-block bg-right-center bg-no-repeat bg-white border box-shadow p-5 text-decoration-none" href="blog-grid-rs.html" style="background-image: url(img/homepages/theme-presentation/blog.png);">
            <h3 class="h5">Blog</h3>
            <p class="text-muted pb-2">Includes 3 blog layout options and 6 single post formats.</p>
            <div class="btn btn-info btn-sm">View now&nbsp;<i class="fe-icon-arrow-right"></i></div></a></div>
        <div class="col-lg-4 col-sm-6 mb-30"><a class="d-block bg-right-center bg-no-repeat bg-white border box-shadow p-5 text-decoration-none" href="shop-boxed-ls.html" style="background-image: url(img/homepages/theme-presentation/shop.png);">
            <h3 class="h5">E-commerce</h3>
            <p class="text-muted pb-2">Includes 8 shop catalog layout options and 8 e-commerce pages.</p>
            <div class="btn btn-success btn-sm">View now&nbsp;<i class="fe-icon-arrow-right"></i></div></a></div>
        <div class="col-lg-4 col-sm-6 mb-30"><a class="d-block bg-right-center bg-no-repeat bg-white border box-shadow p-5 text-decoration-none" href="account-orders.html" style="background-image: url(img/homepages/theme-presentation/account.png);">
            <h3 class="h5">User Account</h3>
            <p class="text-muted pb-2">Includes default user dashboard pages usually found on e-commerce website.</p>
            <div class="btn btn-accent btn-sm">View now&nbsp;<i class="fe-icon-arrow-right"></i></div></a></div>
        <div class="col-lg-4 col-sm-6 mb-30"><a class="d-block bg-right-center bg-no-repeat bg-white border box-shadow p-5 text-decoration-none" href="about-us-v1.html" style="background-image: url(img/homepages/theme-presentation/pages.png);">
            <h3 class="h5">Pages</h3>
            <p class="text-muted pb-2">Includes the collection of website secondary and specialty pages.</p>
            <div class="btn btn-primary btn-sm">View now&nbsp;<i class="fe-icon-arrow-right"></i></div></a></div>
        <div class="col-lg-4 col-sm-6 mb-30"><a class="d-block bg-right-center bg-no-repeat bg-white border box-shadow p-5 text-decoration-none" href="docs/dev-setup.html" style="background-image: url(img/homepages/theme-presentation/docs.png);">
            <h3 class="h5">Online Docs</h3>
            <p class="text-muted pb-2">Includes the collection of website secondary and specialty pages.</p>
            <div class="btn btn-danger btn-sm">View now&nbsp;<i class="fe-icon-arrow-right"></i></div></a></div>
      </div>
    </section>
    <!-- Fetures-->
    <section class="container pt-2 pb-5 mb-3">
      <h2 class="h3 block-title text-center"><span class='font-weight-normal'>And some</span> Cool Features</h2>
      <div class="row pt-4">
        <div class="col-md-6">
          <dl class="dl-with-icon">
            <dt><i class="fe-icon-check-circle text-success"></i>Kick-start your development</dt>
            <dd>Start your development process fast and easy with Node.js and Gulp setup. Configuration files are included in download package. Full tasks automation.</dd>
            <dt><i class="fe-icon-check-circle text-success"></i>Easy To Customize With Sass</dt>
            <dd>CreateX is built using Sass. Easily change colors, typography and much more. It is the most mature, stable, and powerful CSS extension language in the world.</dd>
            <dt><i class="fe-icon-check-circle text-success"></i>Pug - Node Templating Engine</dt>
            <dd>No need to write huge amount of HTML, if you don’t want to. Pug provides features not available in plain HTML like variables, includes, mixins, etc.</dd>
            <dt><i class="fe-icon-check-circle text-success"></i>Built With Bootstrap 4</dt>
            <dd>CreateX is the ultimate website front-end solution based on Bootstrap 4 - the world's most popular responsive, mobile-first front-end component library.</dd>
            <dt><i class="fe-icon-check-circle text-success"></i>45+ Flexible Components</dt>
            <dd>Besides styling all default Bootstrap 4 components CreateX introduces lots of new flexible, customizable and reusable elements to use across the website.</dd>
            <dt><i class="fe-icon-check-circle text-success"></i>Mobile Friendly Interface</dt>
            <dd>It's not a surprise that nowadays over 60% of users shop online using their mobile devices. CreateX is 100% responsive and optimized for small touch screens.</dd>
          </dl>
        </div>
        <div class="col-md-6">
          <dl class="dl-with-icon">
            <dt><i class="fe-icon-check-circle text-success"></i>Mobile Friendly Interface</dt>
            <dd>It's not a surprise that nowadays over 60% of users shop online using their mobile devices. CreateX is 100% responsive and optimized for touch screens.</dd>
            <dt><i class="fe-icon-check-circle text-success"></i>Google Fonts</dt>
            <dd>CreateX uses Google fonts which are free, fast to load and of very high quality. Currently Google fonts library includes 870+ font families to choose from.</dd>
            <dt><i class="fe-icon-check-circle text-success"></i>Touch-enabled Sliders</dt>
            <dd>In the era of touch screens it's important to ensure great user experience on handheld devices, especially when it comes to such importnat interface component as slider.</dd>
            <dt><i class="fe-icon-check-circle text-success"></i>Vector Based HD Ready Icons</dt>
            <dd>CreateX uses font-based icon packs to ensure that infographics and interface icons look sharp on any device with any screen resolution and pixel density.</dd>
            <dt><i class="fe-icon-check-circle text-success"></i>Customizable Google Maps</dt>
            <dd>Thanks to Gmap3 plugin and Snazzy Maps collection of custom map styles you can create unique map design that fits perfectly overall look of your website.</dd>
            <dt><i class="fe-icon-check-circle text-success"></i>W3C Valid HTML Code</dt>
            <dd>All HTML files are checked via W3C validator to ensure 100% valid code. As you probably know invalid HTML limits innovation, but CreateX is innovative at its core.</dd>
          </dl>
        </div>
      </div>
    </section>
    <!-- Footer + CTA-->
    <footer class="bg-dark pt-5">
      <div class="container pt-3 text-center">
        <h3 class="font-weight-normal text-white">Still not convinced?</h3>
        <h2 class="h3 text-white pb-4">Add premium support and lifetime updates to this.</h2><a class="btn btn-gradient btn-lg" href="https://themes.getbootstrap.com/product/createx-multipurpose-template-ui-kit/" target="_blank"><i class="fe-icon-shopping-cart"></i>&nbsp;Buy CreateX</a>
        <div class="py-5 mt-3">
          <hr class="hr-light">
        </div>
        <h6 class="text-white text-center pt-4">Subscribe to Newsletter</h6>
        <div class="row justify-content-center pb-4 mb-3">
          <div class="col-xl-6 col-lg-7 col-md-9">
            <form action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126" method="post" target="_blank" novalidate>
              <div class="input-group">
                <input class="form-control form-control-light-skin" type="email" name="EMAIL" placeholder="Email address">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">Sign Up</button>
                </div>
              </div><small class="form-text text-white opacity-50 pt-1 text-center">Enter email to receive a newsletter about updates and new products.</small>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
              </div>
            </form>
          </div>
        </div>
        <div class="pt-4">
          <hr class="hr-light">
        </div>
        <div class="d-md-flex justify-content-between align-items-center py-4 text-center text-md-left">
          <div class="order-2"><a class="social-btn sb-style-6 sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-btn sb-style-6 sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-6 sb-linkedin sb-light-skin" href="#"><i class="socicon-linkedin"></i></a><a class="social-btn sb-style-6 sb-youtube sb-light-skin" href="#"><i class="socicon-youtube"></i></a><a class="social-btn sb-style-6 sb-behance sb-light-skin" href="#"><i class="socicon-behance"></i></a></div>
          <p class="m-0 text-sm text-white order-1"><span class='opacity-60'>© All rights reserved. Made with</span> <i class='d-inline-block align-middle fe-icon-heart text-danger'></i> <a href='http://createx.studio/' class='d-inline-block nav-link text-white opacity-60 p-0' target='_blank'>by Createx Studio</a></p>
        </div>
      </div>
    </footer>
    <!-- Back To Top Button--><a class="scroll-to-top-btn" href="#"><i class="fe-icon-chevron-up"></i></a>
    <!-- Backdrop-->
    <div class="site-backdrop"></div>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="js/vendor.min.js"></script>
    <script src="js/theme.min.js"></script>
  </body>
</html>
