<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nouvelle commande</h1>
    <p>
      Une nouvelle commande vient d'arriver 😻 !
    </p>
    <p>Commande de <%= @user.profile.first_name + " " + @user.profile.last_name %> d'un montant de <%= @total %> €</p>

    <h3>Ses articles : </h3>
      <% @cart_items.each do |i| %>
        <p>– <%= link_to i.item.title, url_for(i.item.item_picture) %></p>
      <% end %>
    <p>
      Pour accéder à ton espace admin, connecte-toi via :  <%= @url %>.
    </p>
    <p> À très vite sur http://troispetitschats.herokuapp.com ! </p>
    <p> Chamicalement, <br>
    Toute l'équipe de Trois petits chats 😺 </p>
  </body>
</html>
