<!-- Background Image Parallax -->
<div class="bg-parallax py-5">
  <span class="bg-overlay" style="opacity: .3;"></span>
  <div class="bg-parallax-img" data-parallax='{"y" : -100}'>
    <%= image_tag("banner.jpg", class: "Parallax Background") %>
  </div>
  <div class="bg-parallax-content px-4 py-5 mx-auto mt-4 mb-2 text-center" style="max-width: 600px;">
    <h2 class="text-white"><i class="fe-icon-camera"></i> Trois petits chats</h2>
    <p class="text-white opacity-80 pb-5">Les meilleures photos de chatons !</p>
    <%= link_to "Je m'inscris !", new_user_registration_path, :class => "btn btn-gradient" %>
  </div>
</div>
