    <!-- Small banner -->
    <div id="small-banner" class="page-title d-flex" aria-label="Page title">
      <div class="container text-left align-self-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item"><a href="shop-boxed-ls.html">Shop</a>
            </li>
          </ol>
        </nav>
        <h1 class="page-title-heading">Photo numéro <%=params[:id]%></h1>
      </div>
    </div>
