    <!-- Small banner -->
    <div id="small-banner" class="page-title d-flex" aria-label="Page title">
      <div class="container text-left align-self-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
            <li class="breadcrumb-item"><%= link_to "Shop", root_path %></li>
          </ol>
        </nav>
        <h1 class="page-title-heading">Photo numéro <%=params[:id].to_i%></h1>
      </div>
    </div>
