.beautiful-devise {
	padding:20px;
    box-shadow: 0 0 1.25rem rgba(108,118,134,0.1) !important;
    border: 0.0625rem solid rgba(0,0,0,0.08);
    border-radius: .375rem;
    background-color: #fff;
    background-clip: border-box;
    margin:10px;
}

#small-banner {
  background-image: image-url('fond_chaton');
}
.alert .close::before {
    content: 'x' !important;
    font-family: sans-serif !important;
}

@media screen and (min-width: 900px) {
  #description_item {
    min-width: 400px;
  }
}
