#small-banner {
  background-image: image-url('fond_chaton');
}
.alert .close::before {
    content: 'x' !important;
    font-family: sans-serif !important;
}

@media screen and (min-width: 900px) {
  #description_item {
    min-width: 400px;
  }
}
