<footer class="bg-dark pt-5">
      <div class="container pt-3 text-center">

        <h6 class="text-white text-center pt-4">© Trois petits chats</h6>

        <div class="pt-4">
          <hr class="hr-light">
        </div>
        <div class="d-md-flex justify-content-between align-items-center py-4 text-center text-md-left">
          <div class="order-2"><a class="social-btn sb-style-6 sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-btn sb-style-6 sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-6 sb-linkedin sb-light-skin" href="#"><i class="socicon-linkedin"></i></a><a class="social-btn sb-style-6 sb-youtube sb-light-skin" href="#"><i class="socicon-youtube"></i></a><a class="social-btn sb-style-6 sb-behance sb-light-skin" href="#"><i class="socicon-behance"></i></a></div>
          <p class="m-0 text-sm text-white order-1"><span class="opacity-60">© Tous droits réservés. Fait avec</span> <i class="far fa-heart"></i> <a href="http://thehackingproject.herokuapp.com/" class="d-inline-block nav-link text-white opacity-60 p-0" target="_blank"> par THP Studio </a></p>
        </div>
      </div>
    </footer>
