<footer class="bg-dark pt-5">
      <div class="container pt-3 text-center">
        
        <h6 class="text-white text-center pt-4">Subscribe to Newsletter</h6>
        <div class="row justify-content-center pb-4 mb-3">
          <div class="col-xl-6 col-lg-7 col-md-9">
            <form action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126" method="post" target="_blank" novalidate="">
              <div class="input-group">
                <input class="form-control form-control-light-skin" type="email" name="EMAIL" placeholder="Email address">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">Sign Up</button>
                </div>
              </div><small class="form-text text-white opacity-50 pt-1 text-center">Enter email to receive a newsletter about updates and new products.</small>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
              </div>
            </form>
          </div>
        </div>
        <div class="pt-4">
          <hr class="hr-light">
        </div>
        <div class="d-md-flex justify-content-between align-items-center py-4 text-center text-md-left">
          <div class="order-2"><a class="social-btn sb-style-6 sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-btn sb-style-6 sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-6 sb-linkedin sb-light-skin" href="#"><i class="socicon-linkedin"></i></a><a class="social-btn sb-style-6 sb-youtube sb-light-skin" href="#"><i class="socicon-youtube"></i></a><a class="social-btn sb-style-6 sb-behance sb-light-skin" href="#"><i class="socicon-behance"></i></a></div>
          <p class="m-0 text-sm text-white order-1"><span class="opacity-60">© All rights reserved. Made with</span> <i class="d-inline-block align-middle fe-icon-heart text-danger"></i> <a href="http://createx.studio/" class="d-inline-block nav-link text-white opacity-60 p-0" target="_blank">by Createx Studio</a></p>
        </div>
      </div>
    </footer>